* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.contenedor {
    width: 100%;
    max-width: 120em;
    background-color: #f5f5f5;
    box-shadow: 0 10px 20px rgba(0,0,0,0.10), 0 6px 6px rgba(0,0,0,0.18);
    border-radius: 15px;
    padding: 1em;
}
.contenedor .ul {
    width: 100em;
    /*background-color: lightblue;*/
    display: flex;
    flex-flow: row nowrap;
}
.contenedor .li {
    background-color: #f5f5f5;
    box-shadow: 0 10px 20px rgba(0,0,0,0.10), 0 6px 6px rgba(0,0,0,0.18);
    border-radius: 15px;
    padding: 1em;
    margin: 0 100em 0 0;
    transition: all .5s ease;
    list-style: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contenedor .li.activo {
    background-color: lightskyblue;
    color: white;
}
.contenedor .subcontenedor {
    min-height: 10vh;
    /*background-color: lightsalmon;*/
    position: relative;
}
.contenedor .bloque {
    /*background-color: lightgreen;*/
    margin: 1em;
    padding: 1em;
    position: absolute;
    top: 2em;
    opacity: 0;
    transition: all .5s ease;
}
.contenedor .bloque.activo {
    opacity: 1;
}