/*Main CSS*/
.main {
    margin: 0;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 1rem;
    width: 100%;
}
/*Article CSS*/
.article {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 0.5rem;   
}
.article__h4 {
    margin-top: 1rem;
    margin-bottom: 1rem;
    text-align: center;   
}
/*Section CSS*/
.section {
    padding: 0.5rem;
}
.section__h4 {
    margin-bottom: 1rem;   
}
.section__p {
    margin-bottom: 1rem;
}
/*Grid CSS*/
.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-gap: 1rem;
    padding: 0.5rem;
    width: 100%;
    background-color: rgb(243, 247, 242);
}
.grid__figure {
    border-radius: 8px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1), 0 3px 3px rgba(0, 0, 0, 0.15);
    padding: 0.5rem;
    margin: 0.5rem;
    justify-self: center;
    transition: transform 0.2s ease-in-out;
}
.grid__figure--item {
    max-width: 100%; 
    height: auto;  
    display: block; 
    margin: 0 auto;
    aspect-ratio: auto; /*Para solventar problemas con lighthouse y optimizar la imagen*/
}
.grid__figure:hover {
    transform: translateY(-3px);
}