* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.body {
    margin: 0;
    background-color: #e0e0e0;
    min-height: 100vh;
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
}
.grid {
    width: 100%;
    max-width: 56.25rem;
    background-color: lightblue;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(12.5rem, 1fr));
    gap: 1rem;
}
.grid .img {
    background-color: orange;
    box-shadow: 0.5rem 0.5rem 2rem #cecece, -0.5rem -0.5rem 2rem #f2f2f2;
    cursor: pointer;
    transition: all .5s ease;
}
.grid .img:hover {
    transform: scale(.95);
}
.grid .img:active {
    transform: scale(1.1);
}
.lightbox {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0,.4);
    backdrop-filter: blur(2rem); /* efecto blur */

    position: fixed;
    top: 0;
    left: 0;

    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    opacity: 0;
    pointer-events: none;
    transition: all .5s ease;
}
.lightbox.isActive {
    opacity: 1; /* cuando se añada por js en la clase isActive el light box aparecera*/
    pointer-events: auto;
}
.lightbox .close {
    width: 3rem;
    background-color: red;
    color: white;
    cursor: pointer;
    transition: all .5s ease;
}
.lightbox .close:hover {
    transform: scale(.95);
}
.lightbox .close:active {
    transform: scale(1.1);
}
/*.lightbox .svg {

}*/
.lightbox .grande {
    width: 100%;
    max-width: 900px;
    height: 70vh;
    box-shadow: 0 0 2rem 0 rgba(0, 0, 0,.4);
}